
@{
    ViewBag.Title = "Givefeedback For Student";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}

<div>
<h2>Give feedback </h2>
    </div>

<form>
    <div class="form-group">
        <label for="reg#">Registration Number</label>
        <input type="text" id="reg#" class="form-control" placeholder="Write Here">
        </div>
    <div>
        <label for="feed">Feedback</label>
        <input type="text" placeholder="Write Here" id="feed" class="form-control" width="80">
        </div>
</form>

    


<div>
    <button type="submit" >
        Send Feedback
    </button>
</div>

