
@{
    ViewBag.Title = "Studnet Feedbacks";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}

<h2>Here Showing the Feedback for the Teacher by his Studnet!</h2>

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>
            Date 
            </th>
        <th>
            Feedback  
            </th>
        </tr>
    <tr>
        <td>21-12-2020</td>
        <td>Good </td>
        </tr>
    <tr>
        <td>
            09-12-2020
            </td>
        <td>
            Excellent!
            </td>
        </tr>

    </table>

