@{
    ViewBag.Title = "Home Page";
}

<div>

<h1>Student Managment System </h1>
    <h5>SMS</h5>

</div>


<div class="jumbotron">
    <p>
    
    Education helps in the mental and intellectual nourishment and growth of a person. Without education an individual cannot progress intellectually, and cannot develop skills and capacities to work. Education fosters the enlightenment, empowerment and emancipation of society. Without education a society will be socially, economically and politically backward. Education is what serves to make a nation strong, capable, powerful and resilient, and take it forward. Education is, therefore, very important for every individual person, and as a whole for every society and nation. Hence, education must be available to all the children and youth of a nation without any discrimination.
    Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discussion, teaching, training, and directed research. Education frequently takes place under the guidance of educators, but learners may also educate themselves.[1] Education can take place in formal or informal settings and any experience that has a formative effect on the way one thinks, feels, or acts may be considered educational. The methodology of teaching is called pedagogy.
    An educational institution is a place where people of different ages gain an education.[1] Examples of some institutions are preschools, primary schools, secondary schools, and further and higher education. They provide a large variety of learning environments and learning spaces. The American Educational System typically divides learning facilities by an age grade system. The student is designated to a grade level based on their age, and advances one grade each year. This determines what educational institution would be an appropriate setting for the individual. The institution can be public, private or unconventional.
</p>
</div>