
@{
    ViewBag.Title = "Teacher Attandence Record";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}


<div class="Content">
<h2>Attandence Record of the Teacher</h2>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            Date 
            </th>
        <th>
            Status of Attandence
            </th>
        </tr>
    <tr>
        <td>1-11-2018
            </td>
        <td>
            Present
        </td>
        </tr>
    <tr>
        <td>2-11-2018
            </td>
        <td>
            Absent
            </td>
        </tr>          
      </table>

</div>