
@{
    ViewBag.Title = "DMC-Student";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}

<h2>Student's DMC</h2>

<table>
    <tr>
        <th>
            Course Code
            </th>
        <th>
            Teacher Name
            </th>
        <th>
            Grade
            </th>
        <th>
            Credit Hour
            </th>
        <th>
            Grade
            </th>
        <th>
            GPA
        </th>
    <tr>
        <td>SE-212
            </td>
        <td>
            Teacher
            </td>
        <td>
            A
            </td>
        <td>
            3
            </td>
        <td>
            4
            </td>
        </tr>
    </table>

