
@{
    ViewBag.Title = "ViewEvent";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}


<div class="content">
<h2>Upcoming Event Show Here!</h2>


<table class= "table table-bordered table-responsive table-hover">
    <tr>
        <th>
            Date of Event
            </th>
        <th>
            Name of Event
            </th>
        <th>
            Venue
            </th>
        <th>
            Management Team Name  
            </th>
        </tr>

    <tr>
        <td>12/25/2018</td>
        <td>Motivational Lecture</td>
        <td>Seminar Hall</td>
        <td>M L Team</td>
        </tr>

    <tr>
        <td>12/25/2018</td>
        <td>Motivational Lecture</td>
        <td>Seminar Hall</td>
        <td>M L Team</td>
    </tr>

    <tr>
        <td>12/25/2018</td>
        <td>Motivational Lecture</td>
        <td>Seminar Hall</td>
        <td>M L Team</td>
    </tr>

    <tr>
        <td>12/25/2018</td>
        <td>Motivational Lecture</td>
        <td>Seminar Hall</td>
        <td>M L Team</td>
    </tr>


    </table>

</div>

