
@{
    ViewBag.Title = "UploadGrade";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}



<div class="content">
    <h2>UploadGrade Here </h2>
<form>
    <div class="form-group">
        <label for="course#">
            Enter Course Number:
            </label>
        <input type="text" class="form-control" id="course#" placeholder="Type Here!">
        </div>
    <div class="form-group">
        <label for="Reg#">
            Enter Registration Number:
        </label>
        <input type="text" class="form-control" id="Reg#" placeholder="Type Here!">
    </div>
    <div class="form-group">
        <label for="grade">
            Enter Grade:
        </label>
        <input type="text" class="form-control" id="grade" placeholder="Type Here!">
    </div>
    </form>

<div>
<button class="btn btn-primary">
    Upload
    </button>
    </div>

    </div>
