
@{
    ViewBag.Title = "ParentsContact";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}


<div >
<h2>Parents Contact of Students</h2>

<table class="table table-bordered  table-hover table-responsive">
    <tr>
        <th>
            Name of Student
            </th>
        <th>
            Parents Name
            </th>
        <th>
            Contact Number
            </th>
       </tr>
    <tr>
        <td>
            Bill 
            </td>
        <td>
            John
            </td>
        <td>
            032323521241
            </td>
        </tr>
    <tr>
        <td>
            Bill
        </td>
        <td>
            John
        </td>
        <td>
            032323521241
        </td>
    </tr>
    </table>

</div>